.navbar-nav li a.m-contacto{ 
  color: #1d407b !important;
}

.imagen_int{
  max-width: 100%;
  height: auto;
}
.titulo_interno{
 width: 100%;
 text-align: center;
}
.parrafo_interno{
  width: 100%;
  height: 206px;
}
.parrafo_interno p{
  color: #a3a3a3;
  font-family: 'Signika', sans-serif !important;
  font-size: 15px;
  text-align: justify;
}
#scrollbar1{
  margin: 0 !important;
  width: 95% !important;
}
#scrollbar1 .viewport{
  height: 197px !important;
  background:  transparent !important;
  margin-bottom: 15px;
}
#scrollbar1 .overview{
  padding-left:0 !important;
  padding-right:0 !important; 
}
.overview p{
  color: #a3a3a3;
  font-family: 'Signika', sans-serif !important;
  font-size: 15px;
  text-align: justify;
}
.form-control{
  font-family: 'Signika', sans-serif !important;
  color: #bdbdbd !important;
  border:1px solid #abd3ed;
  border-radius: 0;
  width: 80%;
  margin: 0 auto;
}
.botonf{
  background: #8cc3e7 !important;
  color: #fff;
  font-family: 'Signika', sans-serif !important;
  font-size: 13px;
  border-radius: 0 !important;
  width: 68px;
  float: right;
  margin: 10px
}
.c_obligatorios{
  font-family: 'Signika', sans-serif !important;
  font-size: 13px;
  font-weight: 100;
  color: #bdbdbd;
}
@media (max-width: 991px) {
   .c_obligatorios{
    width: 100% !important;
  }
  .titulo_interno{
    margin-top: 0 !important
  }
  .row{
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  #supersized{
    position: absolute !important;
  }
  #supersized li{
    position: absolute !important;
  }
}
@media (max-width: 558px) {
  .imagen_int{
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 525px) {

  .c_obligatorios{
    width: 100%;
  }
}
@media (max-width: 525px) {
  .c_obligatorios{
    width: 100%;
  }
}