.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #5a4694 !important
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #c7c7c7 !important;
}
.full_all_facial{  
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background: url(../images/productos/facial/textura_faciales.jpg);
}
.center_wall_facial{
  background: url(../images/productos/facial/fondo_faciales.jpg) repeat-x top;
  margin-top: 15px;
  padding-top: 25px;
}
/* estados botones */
a.active_fac{
  text-decoration: underline;
  color: #5a4694 !important;
}
.fac h2 a:hover{
  color: #5a4694 !important;
}
/* end estados botones */
@media (max-width: 991px) {
    .center_wall_facial{
      background: url(../images/productos/facial/fondo_faciales.jpg) repeat-x 0 10%;
    }
}
@media (max-width: 767px) {
	.center_wall_facial{
      background: none !important;
    }
	.f_smarth{
		background: url(../images/productos/facial/fondo_faciales.jpg) repeat-x top;
		padding-top:23px;
	}
}
@media (max-width: 410px) {

}
@media (max-width: 390px) {
    .bx-wrapper{
      max-width: 230px !important;
    }
    
}
